{{define "title"}}Account - {{.User.Name}}{{end}}

{{define "main"}}
{{with .User}}
<section class='section'>
    <div class='container content'>
        <h1>User Details: {{.Name}}</h1>
        <p>id: {{.ID}}</p>
        <p>email: {{.Email}}</p>
        <p>activated: {{.Activated}}</p>
    </div>
</section>
{{end}}
{{end}}
