{{define "title"}}{{.Bean.Name}}{{end}}

{{define "main"}}
{{with .Bean}}
<section class='section'>
    <div class='container content'>
        <h1>Bean Details: {{.Name}}</h1>
        <p>id: {{.ID}}</p>
        <p>roast level: {{.RoastLevel}}</p>
        <p>roaster id: {{.RoasterID}}</p>
        <p>created_at: {{.CreatedAt}}</p>
        <p>version: {{.Version}}</p>
    </div>
</section>
{{end}}
{{end}}
