{{define "title"}}Home{{end}}

{{define "main"}}
<section class='section'>
    <div class='container has-text-centered'>
        <h1 class='title is-size-1'>Coffee Tanuki</h1>
        <h3 class='subtitle is-size-3'>Discover good coffee.</h3>
    </div>
</section>
{{end}}
