{{define "title"}}{{.Roaster.Name}}{{end}}

{{define "main"}}
{{with .Roaster}}
<section class='section'>
    <div class='container content'>
        <h1>Roaster Details: {{.Name}}</h1>
        <p>id: {{.ID}}</p>
        <p>description: {{.Description}}</p>
        <p>website: {{.Website}}</p>
        <p>location: {{.Location}}</p>

        {{range .Beans}}
        <p>{{.}}</p>
        {{end}}
    </div>
</section>
{{end}}
{{end}}
