{{define "beanresults"}}
{{range .Beans}}
<tr>
    <td><a href='/beans/{{.ID}}'>{{.Name}}</a></td>
    <td>{{.RoastLevel}}</td>
    <td>{{.RoasterID}}</td>
    <td>{{.ID}}</td>
    <td><a class='button' href='/beans/{{.ID}}/edit'>Edit</a> <button class='button' hx-delete='/hx/beans/{{.ID}}'>Delete</button></td>
</tr>
{{end}}
{{end}}
